In [1]:
import pandas as pd 
import psycopg2

In [2]:
conn = psycopg2.connect(host='localhost',
                        dbname='sql_practice',
                        user='postgres',
                        password='Aujaswi@31',
                        port=5432)
conn.autocommit = True
cur = conn.cursor()

# Question

### Write a query that'll identify returning active users. A returning active user is a user that has made a second purchase within 7 days of any other of their purchases. Output a list of user_ids of these returning active users.

## Creating the table

In [3]:
cur.execute("""CREATE TABLE amazon_transactions(id int, user_id int, item varchar(15), created_at timestamp, revenue int);""")

## Populating the table

In [4]:
cur.execute("""INSERT INTO amazon_transactions VALUES (1,109,'milk','2020-03-03 00:00:00',123),(2,139,'biscuit','2020-03-18 00:00:00', 421), (3,120,'milk','2020-03-18 00:00:00',176), (4,108,'banana','2020-03-18 00:00:00',862), (5,130,'milk','2020-03-28 00:00:00',333), (6,103,'bread','2020-03-29 00:00:00',862), (7,122,'banana','2020-03-07 00:00:00',952), (8,125,'bread','2020-03-13 00:00:00',317), (9,139,'bread','2020-03-30 00:00:00',929), (10,141,'banana','2020-03-17 00:00:00',812), (11,116,'bread','2020-03-31 00:00:00',226), (12,128,'bread','2020-03-04 00:00:00',112), (13,146,'biscuit','2020-03-04 00:00:00',362), (14,119,'banana','2020-03-28 00:00:00',127), (15,142,'bread','2020-03-09 00:00:00',503), (16,122,'bread','2020-03-06 00:00:00',593), (17,128,'biscuit','2020-03-24 00:00:00',160), (18,112,'banana','2020-03-24 00:00:00',262), (19,149,'banana','2020-03-29 00:00:00',382), (20,100,'banana','2020-03-18 00:00:00',599);""")

### Solution

In [5]:
cur.execute("""SELECT a.user_id
FROM amazon_transactions a
JOIN amazon_transactions b ON a.user_id = b.user_id AND a.created_at < b.created_at
WHERE ABS(a.created_at :: date - b.created_at :: date) <= 7;""")

In [6]:
df = pd.DataFrame(cur.fetchall(),columns=['user_id'])

In [7]:
df

   user_id
0      122

In [19]:
cur.execute("""SELECT table_name
  FROM information_schema.tables
 WHERE table_schema='public'
   AND table_type='BASE TABLE'""")

In [20]:
cur.execute(f"""DROP TABLE {cur.fetchall()[0][0]};""")

In [21]:
cur.close()
conn.close()