In [1]:
import pandas as pd 
import psycopg2

In [2]:
conn = psycopg2.connect(host='localhost',
                        dbname='sql_practice',
                        user='postgres',
                        password='Aujaswi@31',
                        port=5432)
conn.autocommit = True
cur = conn.cursor()

# Question

### What is the total sales revenue of Samantha and Lisa?

## Creating the table

In [3]:
cur.execute("""CREATE TABLE sales_performance (salesperson VARCHAR(50),widget_sales INT,sales_revenue INT,id INT PRIMARY KEY);""")

## Populating the table

In [4]:
cur.execute("""INSERT INTO sales_performance (salesperson, widget_sales, sales_revenue, id) VALUES('Jim', 810, 40500, 1),('Bobby', 661, 33050, 2),('Samantha', 1006, 50300, 3),('Taylor', 984, 49200, 4),('Tom', 403, 20150, 5),('Pat', 715, 35750, 6),('Lisa', 1247, 62350, 7);""")

### Solution

In [5]:
cur.execute("""SELECT SUM(sales_revenue) total_revenue
FROM sales_performance
WHERE salesperson IN ('Samantha','Lisa');""")

In [6]:
df = pd.DataFrame(cur.fetchall(),columns=['total_revenue'])

In [7]:
df

   total_revenue
0         112650

In [8]:
cur.execute("""SELECT table_name
  FROM information_schema.tables
 WHERE table_schema='public'
   AND table_type='BASE TABLE'""")

In [9]:
tables = cur.fetchall()

In [10]:
for i in tables:
    cur.execute(f"""DROP TABLE {i[0]};""")

In [11]:
cur.close()
conn.close()