In [1]:
import pandas as pd 
import psycopg2

In [2]:
conn = psycopg2.connect(host='localhost',
                        dbname='sql_practice',
                        user='postgres',
                        password='Aujaswi@31',
                        port=5432)
conn.autocommit = True
cur = conn.cursor()

# Question

### You are analyzing a social network dataset at Google. Your task is to find mutual friends between two users, Karl and Hans. There is only one user named Karl and one named Hans in the dataset. The output should contain 'user_id' and 'user_name' columns.

## Creating the table

In [3]:
cur.execute("""CREATE TABLE users(user_id INT, user_name varchar(30));""")

In [4]:
cur.execute("""CREATE TABLE friends(user_id INT, friend_id INT);""")

## Populating the table

In [5]:
cur.execute("""INSERT INTO users VALUES (1, 'Karl'), (2, 'Hans'), (3, 'Emma'), (4, 'Emma'), (5, 'Mike'), (6, 'Lucas'), (7, 'Sarah'), (8, 'Lucas'), (9, 'Anna'), (10, 'John');""")

In [6]:
cur.execute("""INSERT INTO friends VALUES (1,3),(1,5),(2,3),(2,4),(3,1),(3,2),(3,6),(4,7),(5,8),(6,9),(7,10),(8,6),(9,10),(10,7),(10,9);""")

### Solution

In [7]:
cur.execute("""WITH karl_friends AS (SELECT friend_id FROM friends WHERE user_id IN (SELECT user_id FROM users WHERE user_name = 'Karl' )),
hans_friends AS (SELECT friend_id FROM friends WHERE user_id IN (SELECT user_id FROM users WHERE user_name = 'Hans' ))
SELECT u.user_id, u.user_name
FROM users u
JOIN karl_friends k ON u.user_id = k.friend_id
WHERE k.friend_id IN (SELECT friend_id FROM hans_friends);""")

In [8]:
df = pd.DataFrame(cur.fetchall(),columns=['user_id','user_name'])

In [9]:
df

   user_id user_name
0        3      Emma

In [10]:
cur.execute("""DROP TABLE users;""")
cur.execute("""DROP TABLE friends;""")

In [11]:
cur.close()
conn.close()