In [1]:
import pandas as pd 
import psycopg2

In [2]:
conn = psycopg2.connect(host='localhost',
                        dbname='sql_practice',
                        user='postgres',
                        password='Aujaswi@31',
                        port=5432)
conn.autocommit = True
cur = conn.cursor()

# Question

### Find the total number of available beds per hosts' nationality. Output the nationality along with the corresponding total number of available beds. Sort records by the total available beds in descending order.

## Creating the table

In [3]:
cur.execute("""CREATE TABLE airbnb_apartments(host_id int,apartment_id varchar(5),apartment_type varchar(10),n_beds int,n_bedrooms int,country varchar(20),city varchar(20));""")

In [4]:
cur.execute("""CREATE TABLE airbnb_hosts(host_id int,nationality  varchar(15),gender varchar(5),age int);""")

## Populating the table

In [5]:
cur.execute("""INSERT INTO airbnb_apartments VALUES(0,'A1','Room',1,1,'USA','NewYork'),(0,'A2','Room',1,1,'USA','NewJersey'),(0,'A3','Room',1,1,'USA','NewJersey'),(1,'A4','Apartment',2,1,'USA','Houston'),(1,'A5','Apartment',2,1,'USA','LasVegas'),(3,'A7','Penthouse',3,3,'China','Tianjin'),(3,'A8','Penthouse',5,5,'China','Beijing'),(4,'A9','Apartment',2,1,'Mali','Bamako'),(5,'A10','Room',3,1,'Mali','Segou');""")

In [6]:
cur.execute("""INSERT INTO airbnb_hosts  VALUES(0,'USA','M',28),(1,'USA','F',29),(2,'China','F',31),(3,'China','M',24),(4,'Mali','M',30),(5,'Mali','F',30);""")

### Solution

In [7]:
cur.execute("""SELECT h.nationality, SUM(a.n_beds) total_beds FROM airbnb_apartments a
JOIN airbnb_hosts h ON a.host_id = h.host_id
GROUP BY h.nationality
ORDER BY 2 DESC;""")

In [8]:
df = pd.DataFrame(cur.fetchall(),columns=['nationality','total_beds'])

In [9]:
df

  nationality  total_beds
0       China           8
1         USA           7
2        Mali           5

In [10]:
cur.execute("""DROP TABLE airbnb_apartments;""")
cur.execute("""DROP TABLE airbnb_hosts;""")

In [11]:
cur.close()
conn.close()