In [1]:
import pandas as pd 
import psycopg2

In [2]:
conn = psycopg2.connect(host='localhost',
                        dbname='sql_practice',
                        user='postgres',
                        password='Aujaswi@31',
                        port=5432)
conn.autocommit = True
cur = conn.cursor()

# Question

### Find the genre of the person with the most number of oscar winnings. If there are more than one person with the same number of oscar wins, return the first one in alphabetic order based on their name. Use the names as keys when joining the tables.

## Creating the table

In [ ]:
cur.execute("""CREATE TABLE nominee_information(name varchar(20), amg_person_id varchar(10), top_genre varchar(10), birthday timestamp, id int);""")

In [6]:
cur.execute("""CREATE TABLE oscar_nominees(year int, category varchar(30), nominee varchar(20), movie varchar(30), winner int, id int);""")

## Populating the table

In [5]:
cur.execute("""INSERT INTO nominee_information VALUES('Jennifer Lawrence','P562566','Drama','1990-08-15',755),('Jonah Hill','P418718','Comedy','1983-12-20',747),('Anne Hathaway', 'P292630','Drama', '1982-11-12',744),('Jennifer Hudson','P454405','Drama', '1981-09-12',742),('Rinko Kikuchi', 'P475244','Drama', '1981-01-06', 739);""")

In [7]:
cur.execute("""INSERT INTO oscar_nominees VALUES(2008,'actress in a leading role','Anne Hathaway','Rachel Getting Married',0,77),(2012,'actress in a supporting role','Anne HathawayLes','Mis_rables',1,78),(2006,'actress in a supporting role','Jennifer Hudson','Dreamgirls',1,711),(2010,'actress in a leading role','Jennifer Lawrence','Winters Bone',1,717),(2012,'actress in a leading role','Jennifer Lawrence','Silver Linings Playbook',1,718),(2011,'actor in a supporting role','Jonah Hill','Moneyball',0,799),(2006,'actress in a supporting role','Rinko Kikuchi','Babel',0,1253);""")

### Solution

In [8]:
cur.execute("""WITH oscar_wins AS (SELECT nominee AS name, SUM(winner) AS wins
FROM oscar_nominees
GROUP BY nominee
ORDER BY 2 DESC
LIMIT 1)

SELECT a.top_genre AS genre 
FROM nominee_information a
INNER JOIN oscar_wins b ON a.name = b.name;""")

In [9]:
df = pd.DataFrame(cur.fetchall(),columns=['genre'])

In [10]:
df

   genre
0  Drama

In [11]:
cur.execute("""DROP TABLE nominee_information;""")
cur.execute("""DROP TABLE oscar_nominees;""")

In [12]:
cur.close()
conn.close()